/*
	초기화 사용자
*/
@charset 'utf-8';
@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css'); /* 100, 300, 400, 500, 700, 900 */
@font-face {
	font-family: 'NanumSquare';
	font-style: normal;
	src: url('./font/NanumSquareL.eot');
	src: url('./font/NanumSquareL.eot?#iefix') format('embedded-opentype'),
		url('./font/NanumSquareL.woff') format('woff'),
		url('./font/NanumSquareL.ttf') format('truetype');
}

@font-face {
	font-family: 'NanumSquare';
	font-weight: 400;
	font-style: normal;
	src: url('./font/NanumSquareR.eot');
	src: url('./font/NanumSquareR.eot?#iefix') format('embedded-opentype'),
		url('./font/NanumSquareR.woff') format('woff'),
		url('./font/NanumSquareR.ttf') format('truetype')
}

@font-face {
	font-family: 'NanumSquare';
	font-weight: 700;
	font-style: normal;
	src: url('./font/NanumSquareB.eot');
	src: url('./font/NanumSquareB.eot?#iefix') format('embedded-opentype'),
		url('./font/NanumSquareB.woff') format('woff'),
		url('./font/NanumSquareB.ttf') format('truetype');
}
html, body {width:100%;height:100%;margin:0;padding:0;}
html, body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, blockquote, header, nav, aside, section, article, p, table, thead, tbody, tfoot, th, td, div, span, a, input, input[type=text], input[type=password], input[type=submit], textarea, select, option, iframe, button, caption {padding:0;margin:0;box-sizing:border-box !important;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
/* body {font-family:'NanumSquare','Noto Sans KR',tahoma,sans-serif,dotum,gulim;font-size:0.9em;letter-spacing:-0.05em;color:#000;} */
body {font-family:'Noto Sans KR',tahoma,sans-serif,dotum,gulim;font-size:0.9em;letter-spacing:-0.05em;color:#000;}
.head_menu_p a {font-family:'NanumSquare','Noto Sans KR',tahoma,sans-serif,dotum,gulim;font-size:0.9em;letter-spacing:-0.05em;color:#000;}
textarea, input {/*font-family:'NanumSquare',*/'Noto Sans KR',tahoma,sans-serif,dotum,gulim;}
input[type=password] {font-family:tahoma,sans-serif,dotum,gulim,'NanumSquare','Noto Sans KR';}
input, button, select, img {vertical-align:middle;}
img, input[type=image] {border:0;}
button, input[type=button], input[type=submit], input[type=image] {cursor:pointer;}
li {list-style:none;}
table {border-collapse:collapse;border-spacing:0;}
caption {width:0;height:0;text-indent:-99999px;}
th {text-align:center;font-weight:bold;}
a:link, a:visited, a:active, a:hover {color:#000;text-decoration:none;}
h6 {font-size:1.1em;}
h5 {font-size:1.2em;}
h4 {font-size:1.4em;}
h3 {font-size:1.6em;}
h2 {font-size:2em;}
h1 {font-size:2.4em;}
