<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dwict.jfmc.client.etc.mapper.EtcMapper">

	<!-- 공휴일  정보 -->
	<select id="getHoliday" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select CAL_DATE,BIGO 
		from calendar 
		where 
		<if test='YM !="" and YM != null'>
			left(CAL_DATE,6) = #{YM}
		</if>
		<if test='array !="" and array != null'>
			CAL_DATE IN  
			<foreach item="item" collection="array" index="index" open="(" close=")" separator=",">
		       #{item}
			</foreach>
		</if>
		<if test='COMCD !="" and COMCD != null'> 
			and ( COMCD ='ALL' or COMCD =  #{COMCD})
		</if>
		<if test='GUBUN !="" and GUBUN != null'> 
			and GUBUN = #{GUBUN}
		</if>
		order by CAL_DATE
	</select>	
		
	<select id="scc" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select M.id, M.pw 
		from member_damo M inner join mem_card C on M.mem_no = C.mem_no
		where C.card_no = #{decryptCardNo}
	</select>	
		
	<!-- 정수클로벌 키오스크 대분류 , 일일권상품리스트-->			
	<select id="apiKioskDayItemList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	
		<!--  키오스크 종목 대분류 리스트 -->
		<if test='GTYPE =="1"'>
			SELECT 
				CD as SPORTS_CD
				, CD_NM 
			FROM COT_GRPCD 
			WHERE COMCD = #{COMCD}
				AND GRP_CD = 'CM_SPORTS_CD' 
				AND USE_YN = 'Y' 
				AND CD != '00' 
				AND CD IN (SELECT DISTINCT SPORTS_CD FROM PROGRAM_ITEM 
			WHERE PROGRAM_KIND in ('02', '06', '07') 
				and USE_YN = 'Y' 
				and COMCD = #{COMCD}
			)
		</if>

		<!--  키오스크 종목별 상품리스트 -->
		<if test='GTYPE =="2"'>
			 SELECT PI.COMCD 
			  	, PI.PART_CD 
				, PI.SPORTS_CD 
				, PI.ITEM_CD 
				, PI.ITEM_NM 
				, PI.SALE_AMT
				, PI.VAT_YN
			FROM PROGRAM_ITEM PI 
			 WHERE PI.COMCD = #{COMCD} 
			 AND ((( PI.PROGRAM_KIND = '02' 
			 AND PI.USE_TYPE = #{USE_TYPE}  ) OR ( PI.PROGRAM_KIND = '06') OR (PI.PROGRAM_KIND ='05' ) OR (PI.PROGRAM_KIND ='07'))) 
			 AND PI.USE_YN = 'Y' 
			 AND PI.SPORTS_CD = #{SPORTS_CD} 
		</if>
		
	</select>			
		
		
	<!-- 키오스크 결제취소시 정보 불러올 쿼리문 -->
	<select id="kioskCancelData" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select t1.SLIP_NO, t1.APP_AMT, t2.SALE_SEQ from card_app_hist_damo t1
		left join mem_sale t2 on t1.COMCD = t2.COMCD and t1.SLIP_NO = t2.SLIP_NO 
		where SUBSTRING_INDEX(APP_NO, '_', 1) = #{APP_NO} 
			and t1.COMCD =#{COMCD} and t1.MEM_NO =#{MEM_NO} and WRITER =#{WRITER}
			and t2.SALE_DATE = DATE_FORMAT(now() , '%Y%m%d') 
	</select>
	
	
					
<!-- 	<select id="apiKioskDayItemList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select M.id, M.pw 
		from member_damo M inner join mem_card C on M.mem_no = C.mem_no
		where C.card_no = #{decryptCardNo}
	</select>			
 -->	
</mapper>