<!-- 상단 시작 -->
<?php
$sub_navi2_tit	= '로그인';
include 'head.sub1.html';
?>

<!doctype html>
<html lang='ko'>
<head>
<META HTTP-EQUIV='Pragma' CONTENT='no-cache'>
<META HTTP-EQUIV='Expires' CONTENT='-1'>
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=10,user-scalable=yes'>
<meta name='HandheldFriendly' content='true'>
<meta name='format-detection' content='telephone=no'>
<meta http-equiv='imagetoolbar' content='no'>
<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
<title>중랑구시설관리공단</title>
<link rel='shortcut icon' href='../images/common/favicon.ico'>
<link rel='stylesheet' type='text/css' href='../css/reset.user.css?v=1'>
<link rel='stylesheet' type='text/css' href='../css/design.css?v=<?=time();?>'>
<link rel='stylesheet' type='text/css' href='../css/style.css?v=1'>

<script type='text/javascript' src='../js/jquery-3.5.1.min.js'></script>
<script type='text/javascript' src='../js/common.js?v=1'></script>
<script type='text/javascript' src='../js/wrest.js?v=1'></script>
<script type='text/javascript' src='../js/modernizr.custom.70111.js'></script>

<link rel='stylesheet' type='text/css' href='../css/jquery.bxslider.css?v=1'>
<script type='text/javascript' src='../js/jquery.bxslider.min.js?v=1'></script>
<script type='text/javascript' src='../js/jquery.carouFredSel.6.0.4.js?v=1'></script>

<script type='text/javascript' src='../js/ui.js'></script>
</head>
<style>
	div{
font-size:18px;
}


</style>
<body>

<div class='fr_head'>
	<div class='head_goto1 responsive_p'>
		<a href='#anchor_topmenu' class='btn_anchor_topmenu'>주메뉴 바로가기</a>
		<a href='#anchor_content' class='btn_anchor_content'>본문영역 바로가기</a>
	</div>

	<div class='head_login responsive_p'>
		<div class='con_bx'>
			<div class='sc_login'>
				<ul class='weather'>
					<li><img src='../images/common/ico_weather_sky_1.png' alt='맑음'></li>
					<li class='ondo'>29℃</li>
					<li>맑음</li>
					<li>미세먼지 82 ㎍/㎥ 대기환경지수 나쁨</li>
				</ul>
				<ul class='login'>
					<li><a href=''>홈</a></li>
					<li><a href=''>로그인</a></li>
					<li><a href=''>회원가입</a></li>
					<li><a href=''>사이트맵</a></li>
					<li>글자크기</li>
					<li class='scrzoom'><a href='javascript:fn_scrzoom(1);'><img src='../images/common/btn_screen_size_up.png' alt='화면 확대'></a></li>
					<li class='scrzoom'><a href='javascript:fn_scrzoom(0);'><img src='../images/common/btn_screen_size_down.png' alt='화면 축소'></a></li>
				</ul>
			</div>
		</div>
	</div>

	<!-- 반응형 > PC메뉴 { -->
	<div class='head_menu_p responsive_p'>
		<div class='head_logo'>
			<div class='con_bx'>
				
				
				<ul class='sc1'>
					<li class='dp1'><a href=''><img src='../images/common/logo_home_01.png' alt='홈으로'></a></li>
					<li class='dp1'>
						<form name='fsearch1' method='get' action=''>
						<ul class='bx_search'>
							<li><input type='text' name='s_val' maxlength='10' placeholder='검색어를 입력하세요' required></li>
							<li><input type='image' src='../images/common/btn_search_01.png' alt='검색'></li>
						</ul>
						</form>
					</li>
					<li class='dp1'>
						<div class='bx_addmenu1'>
							<div>
								<a href='javascript:;' class='addmenu1_btn'>시설 통합예약<img src='../images/common/icon_arrow_01_down.png' alt='통합예약 메뉴 열기'></a>
								<ul class='addmenu1_ly'>
									<li><a href=''>수강신청</a></li>
									<li><a href=''>대관신청</a></li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<a href='javascript:;' id='anchor_topmenu' title='주메뉴'></a>
		<div class='head_topmenu head_topmenu_cnt7'>
			<div class='topmenu_ly'>
				<div class='topmenu_bx_out'>
					<div class='topmenu_bx_in'>
						<ul class='topmenu'>
							<li class='dp1'>
								<a class='tm1' href=''>체육시설</a>
								<div class='sm1'>
									<div class='dp2'>
										<h3>체육시설</h3>
										<div>중랑구시설관리공단은<br>구민의 소리에 귀를 기울이겠습니다.</div>
									</div>
									<div class='dp2'>
										<dl>
											<dt><a href=''>구민체육센터</a></dt>
											<dd><a href=''>시설안내</a></dd>
											<dd><a href=''>셔틀버스</a></dd>
											<dd><a href=''>이용안내</a></dd>
											<dd><a href=''>위치 및 연락처</a></dd>
											<dd><a href=''>프로그램안내 및 수강신청</a></dd>
											<dd><a href=''>사물함신청</a></dd>
											<dd><a href=''>대관신청</a></dd>
											<dd><a href=''>강사정보</a></dd>
										</dl>
										<dl>
											<dt><a href=''>중랑문화체육관</a></dt>
											<dd><a href=''>시설안내</a></dd>
											<dd><a href=''>셔틀버스</a></dd>
											<dd><a href=''>이용약관</a></dd>
											<dd><a href=''>위치 및 연락처</a></dd>
											<dd><a href=''>프로그램안내 및 수강신청</a></dd>
											<dd><a href=''>사물함신청</a></dd>
											<dd><a href=''>대관신청</a></dd>
											<dd><a href=''>강사정보</a></dd>
										</dl>
										<dl>
											<dt><a href=''>면목2동체육관</a></dt>
											<dd><a href=''>시설안내</a></dd>
											<dd><a href=''>이용안내</a></dd>
											<dd><a href=''>위치 및 연락처</a></dd>
											<dd><a href=''>프로그램안내 및 수강신청</a></dd>
											<dd><a href=''>대관신청</a></dd>
											<dd><a href=''>강사정보</a></dd>
										</dl>
										<dl>
											<dt><a href=''>중랑구립잔디운동장</a></dt>
											<dd><a href=''>시설안내</a></dd>
											<dd><a href=''>이용안내</a></dd>
											<dd><a href=''>위치 및 연락처</a></dd>
											<dd><a href=''>대관현황</a></dd>
										</dl>
										<dl>
											<dt><a href=''>용마폭포공원축구장</a></dt>
											<dd><a href=''>시설안내</a></dd>
											<dd><a href=''>이용안내</a></dd>
											<dd><a href=''>위치 및 연락처</a></dd>
											<dd><a href=''>대관신청</a></dd>
										</dl>
										<dl>
											<dt><a href=''>신내차량기지운동장</a></dt>
											<dd><a href=''>시설안내</a></dd>
											<dd><a href=''>이용안내</a></dd>
											<dd><a href=''>위치 및 연락처</a></dd>
											<dd><a href=''>대관신청</a></dd>
										</dl>
										<dl>
											<dt><a href=''>신내다목적체육관</a></dt>
											<dd><a href=''>시설안내</a></dd>
											<dd><a href=''>이용안내</a></dd>
											<dd><a href=''>위치 및 연락처</a></dd>
											<dd><a href=''>프로그램안내 및 수강신청</a></dd>
											<dd><a href=''>강사정보</a></dd>
										</dl>
										<dl>
											<dt><a href=''>묵동다목적체육관</a></dt>
											<dd><a href=''>시설안내</a></dd>
											<dd><a href=''>이용안내</a></dd>
											<dd><a href=''>위치 및 연락처</a></dd>
											<dd><a href=''>프로그램안내 및 수강신청</a></dd>
											<dd><a href=''>강사정보</a></dd>
										</dl>
										<dl>
											<dt><a href=''>중랑구립테니스장</a></dt>
											<dd><a href=''>시설안내</a></dd>
											<dd><a href=''>이용안내</a></dd>
											<dd><a href=''>위치 및 연락처</a></dd>
											<dd><a href=''>프로그램안내 및 수강신청</a></dd>
											<dd><a href=''>대관신청</a></dd>
										</dl>
										<dl>
											<dt><a href=''>용마폭포테니스장</a></dt>
											<dd><a href=''>시설안내</a></dd>
											<dd><a href=''>이용안내</a></dd>
											<dd><a href=''>위치 및 연락처</a></dd>
											<dd><a href=''>프로그램안내 및 수강신청</a></dd>
											<dd><a href=''>대관신청</a></dd>
										</dl>
										<dl>
											<dt><a href=''>중랑워터파크</a></dt>
											<dd><a href=''>시설안내</a></dd>
											<dd><a href=''>이용안내</a></dd>
											<dd><a href=''>위치 및 연락처</a></dd>
										</dl>
									</div>
								</div>
							</li>
							<li class='dp1'>
								<a class='tm1' href=''>주차시설</a>
								<div class='sm1'>
									<div class='dp2'>
										<h3>주차시설</h3>
										<div>중랑구시설관리공단은<br>구민의 소리에 귀를 기울이겠습니다.</div>
									</div>
									<div class='dp2'>
										<dl>
											<dt><a href=''>거주자우선주차</a></dt>
											<dd><a href=''>시설안내</a></dd>
											<dd><a href=''>신청 및 배정안내</a></dd>
											<dd><a href=''>사용요금 및 이용안내</a></dd>
											<dd><a href=''>단속 및 민원안내</a></dd>
											<dd><a href=''>위치 및 연락처</a></dd>
										</dl>
										<dl>
											<dt><a href=''>공영주차장</a></dt>
											<dd><a href=''>공영주차장안내</a></dd>
											<dd><a href=''>공영(노상)주차장 현황</a></dd>
											<dd><a href=''>공영(노외)주차장 현황</a></dd>
											<dd><a href=''>미납주차요금 처리절차</a></dd>
										</dl>
										<dl>
											<dt><a href=''>면목견인차량보관소</a></dt>
											<dd><a href=''>시설안내</a></dd>
											<dd><a href=''>견인료 및 보관료</a></dd>
											<dd><a href=''>위치 및 연락처</a></dd>
										</dl>
									</div>
								</div>
							</li>
							<li class='dp1'>
								<a class='tm1' href=''>도서관시설</a>
								<div class='sm1'>
									<div class='dp2'>
										<h3>도서관시설</h3>
										<div>중랑구시설관리공단은<br>구민의 소리에 귀를 기울이겠습니다.</div>
									</div>
									<div class='dp2'>
										<dl>
											<dt><a href=''>중랑구립정보도서관</a></dt>
											<dd><a href=''>시설안내</a></dd>
											<dd><a href=''>부대시설안내</a></dd>
											<dd><a href=''>이용안내</a></dd>
											<dd><a href=''>위치 및 연락처</a></dd>
										</dl>
										<dl>
											<dt><a href=''>중랑구립면목도서관</a></dt>
											<dd><a href=''>시설안내</a></dd>
											<dd><a href=''>부대시설안내</a></dd>
											<dd><a href=''>이용안내</a></dd>
											<dd><a href=''>위치 및 연락처</a></dd>
										</dl>
										<dl>
											<dt><a href=''>중랑숲어린이도서관</a></dt>
											<dd><a href=''>시설안내</a></dd>
											<dd><a href=''>이용안내</a></dd>
											<dd><a href=''>위치 및 연락처</a></dd>
										</dl>
										<dl>
											<dt><a href=''>중화어린이도서관</a></dt>
											<dd><a href=''>시설안내</a></dd>
											<dd><a href=''>부대시설안내</a></dd>
											<dd><a href=''>이용안내</a></dd>
											<dd><a href=''>위치 및 연락처</a></dd>
										</dl>
										<dl>
											<dt><a href=''>양원숲속도서관</a></dt>
											<dd><a href=''>시설안내</a></dd>
											<dd><a href=''>이용안내</a></dd>
											<dd><a href=''>위치 및 연락처</a></dd>
										</dl>
										<dl>
											<dt><a href=''>중랑상봉도서관</a></dt>
										</dl>
									</div>
								</div>
							</li>
							<li class='dp1'>
								<a class='tm1' href=''>시설운영</a>
								<div class='sm1'>
									<div class='dp2'>
										<h3>시설운영</h3>
										<div>중랑구시설관리공단은<br>구민의 소리에 귀를 기울이겠습니다.</div>
									</div>
									<div class='dp2'>
										<dl>
											<dt><a href=''>중랑구민회관</a></dt>
											<dd><a href=''>시설안내</a></dd>
											<dd><a href=''>이용안내</a></dd>
											<dd><a href=''>위치 및 연락처</a></dd>
										</dl>
										<dl>
											<dt><a href=''>관상복합청사</a></dt>
											<dd><a href=''>소개</a></dd>
											<dd><a href=''>시설현황</a></dd>
											<dd><a href=''>임대현황</a></dd>
											<dd><a href=''>운영관리지침</a></dd>
											<dd><a href=''>위치 및 연락처</a></dd>
										</dl>
									</div>
								</div>
							</li>
							<li class='dp1'>
								<a class='tm1' href=''>정보마당</a>
								<div class='sm1'>
									<div class='dp2'>
										<h3>정보마당</h3>
										<div>중랑구시설관리공단은<br>구민의 소리에 귀를 기울이겠습니다.</div>
									</div>
									<div class='dp2'>
										<dl>
											<dt><a href=''>공지사항</a></dt>
											<dd><a href=''>공지사항</a></dd>
										</dl>
										<dl>
											<dt><a href=''>공단홍보관</a></dt>
											<dd><a href=''>공단홍보관</a></dd>
										</dl>
										<dl>
											<dt><a href=''>채용정보</a></dt>
											<dd><a href=''>채용공고</a></dd>
											<dd><a href=''>입사지원</a></dd>
											<dd><a href=''>수시채용정보</a></dd>
										</dl>
										<dl>
											<dt><a href=''>열린경영</a></dt>
											<dd><a href=''>예산현황</a></dd>
											<dd><a href=''>사업계획</a></dd>
											<dd><a href=''>경영실적</a></dd>
											<dd><a href=''>재무상태표</a></dd>
											<dd><a href=''>감사결과</a></dd>
											<dd><a href=''>고객만족도 조사결과</a></dd>
											<dd><a href=''>업무추진비 내역</a></dd>
											<dd><a href=''>지방공기업 경영공시 시스템</a></dd>
										</dl>
										<dl>
											<dt><a href=''>정보공개</a></dt>
											<dd><a href=''>정보공개 안내</a></dd>
											<dd><a href=''>비공개 세부기준</a></dd>
										</dl>
										<dl>
											<dt><a href=''>사전정보공표</a></dt>
											<dd><a href=''>감사</a></dd>
											<dd><a href=''>윤리</a></dd>
											<dd><a href=''>기획</a></dd>
											<dd><a href=''>재정</a></dd>
											<dd><a href=''>법무</a></dd>
											<dd><a href=''>노무</a></dd>
											<dd><a href=''>인사</a></dd>
											<dd><a href=''>총무</a></dd>
											<dd><a href=''>회계</a></dd>
											<dd><a href=''>정보화</a></dd>
											<dd><a href=''>홍보</a></dd>
										</dl>
										<dl>
											<dt><a href=''>재난재해 안전사고</a></dt>
											<dd><a href=''>재난재해 안전사고</a></dd>
										</dl>
										<dl>
											<dt><a href=''>계약정보</a></dt>
											<dd><a href=''>전자가격협상</a></dd>
											<dd><a href=''>입찰정보</a></dd>
											<dd><a href=''>수의계약</a></dd>
											<dd><a href=''>발주계획</a></dd>
											<dd><a href=''>사전규격공개</a></dd>
										</dl>
									</div>
								</div>
							</li>
							<li class='dp1'>
								<a class='tm1' href=''>고객광장</a>
								<div class='sm1'>
									<div class='dp2'>
										<h3>고객광장</h3>
										<div>중랑구시설관리공단은<br>구민의 소리에 귀를 기울이겠습니다.</div>
									</div>
									<div class='dp2'>
										<dl>
											<dt><a href=''>고객의 소리</a></dt>
											<dd><a href=''>고객의 소리 안내</a></dd>
											<dd><a href=''>고객민원</a></dd>
											<dd><a href=''>공단칭찬글</a></dd>
											<dd><a href=''>열린혁신 아이디어제안</a></dd>
											<dd><a href=''>주민참여예산 사업제안</a></dd>
											<dd><a href=''>고객 프로그램 제안</a></dd>
										</dl>
										<dl>
											<dt><a href=''>자주묻는 질문</a></dt>
											<dd><a href=''>자주묻는 질문</a></dd>
										</dl>
										<dl>
											<dt><a href=''>클린신고</a></dt>
											<dd><a href=''>신고서 작성</a></dd>
											<dd><a href=''>처리결과 확인</a></dd>
										</dl>
										<dl>
											<dt><a href=''>고객중심경영</a></dt>
											<dd><a href=''>고객서비스 헌장</a></dd>
											<dd><a href=''>입찰정보</a></dd>
										</dl>
									</div>
								</div>
							</li>
							<li class='dp1'>
								<a class='tm1' href=''>공단소개</a>
								<div class='sm1'>
									<div class='dp2'>
										<h3>공단소개</h3>
										<div>중랑구시설관리공단은<br>구민의 소리에 귀를 기울이겠습니다.</div>
									</div>
									<div class='dp2'>
										<dl>
											<dt><a href=''>이사장 인사말</a></dt>
											<dd><a href=''>이사장 인사말</a></dd>
										</dl>
										<dl>
											<dt><a href=''>경영이념</a></dt>
											<dd><a href=''>경영이념</a></dd>
										</dl>
										<dl>
											<dt><a href=''>공단연혁</a></dt>
											<dd><a href=''>공단연혁</a></dd>
										</dl>
										<dl>
											<dt><a href=''>조직안내 및 연락처</a></dt>
											<dd><a href=''>조직안내 및 연락처</a></dd>
										</dl>
										<dl>
											<dt><a href=''>오시는길</a></dt>
											<dd><a href=''>오시는길</a></dd>
										</dl>
										<dl>
											<dt><a href=''>윤리경영</a></dt>
											<dd><a href=''>윤리경영</a></dd>
										</dl>
										<dl>
											<dt><a href=''>인권경영</a></dt>
											<dd><a href=''>인권경영 헌장</a></dd>
											<dd><a href=''>인권경영 자료실</a></dd>
											<dd><a href=''>인권침해행위 구제절차</a></dd>
										</dl>
										<dl>
											<dt><a href=''>친환경 경영</a></dt>
											<dd><a href=''>친환경 경영 마인드 확립</a></dd>
											<dd><a href=''>저탄소 생활 실천사항</a></dd>
											<dd><a href=''>친환경 경영 자료실</a></dd>
										</dl>
										<dl>
											<dt><a href=''>공단운영규정</a></dt>
											<dd><a href=''>공단운영규정</a></dd>
											<dd><a href=''>법령 및 조례</a></dd>
										</dl>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- } 반응형 > PC메뉴 -->

	<!-- 반응형 > 모바일메뉴 { -->
	<div class='head_menu_m responsive_m'>
		<div class='con_bx'>
			<div class='clbx'>
				<ul class='headlogo'>
					<li class='dp1 allmenu'>
						<a href='javascript:;' class='btn_allmenu_toggle' title='전체메뉴 열기'>
							<ul>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
							</ul>
						</a>
					</li>
					<li class='dp1 home'><a href=''><img src='../images/common/logo_home_01.png' alt='홈으로'></a></li>
					<li class='dp1 sch_btn'><a href='javascript:;'><img src='../images/common/btn_search_02.png' alt='검색폼 열기'></a></li>
				</ul>
			</div>
			<div class='bx_sch'>
				<div class='ly1 clbx'>
					<form name='fsearch2' method='get' action=''>
					<ul>
						<li>
							<input type='text' name='s_val' maxlength='10' placeholder='검색어를 입력하세요' required>
							<input type='image' src='../images/common/btn_search_02.png' alt='검색'>
						</li>
						<li><a class='btn_sch2_close' href='javascript:;'>취소</a></li>
					</ul>
					</form>
				</div>
			</div>
		</div>

		<div class='topmenu_bx'>
			<div class='topmenu_ly'>
				<div class='topmenu'>
					<div class='tit1'>
						전체메뉴
						<a href='javascript:;' class='btn_allmenu_toggle'><img src='../images/common/btn_allmenu_close1.png' alt='전체메뉴 닫기'></a>
					</div>

					<ul class='menu'>
						<li>
							<div><a href=''>마이페이지</a></div>
							<dl>
								<dt><a href=''>로그인</a></dt>
							</dl>
							<dl>
								<dt><a href=''>회원가입</a></dt>
							</dl>
						</li>
						<li>
							<div><a href=''>체육시설</a></div>
							<dl>
								<dt><a href=''>구민체육센터</a></dt>
								<dd><a href=''>시설안내</a></dd>
								<dd><a href=''>셔틀버스</a></dd>
								<dd><a href=''>이용안내</a></dd>
								<dd><a href=''>위치 및 연락처</a></dd>
								<dd><a href=''>프로그램안내 및 수강신청</a></dd>
								<dd><a href=''>사물함신청</a></dd>
								<dd><a href=''>대관신청</a></dd>
								<dd><a href=''>강사정보</a></dd>
							</dl>
							<dl>
								<dt><a href=''>중랑문화체육관</a></dt>
								<dd><a href=''>시설안내</a></dd>
								<dd><a href=''>셔틀버스</a></dd>
								<dd><a href=''>이용약관</a></dd>
								<dd><a href=''>위치 및 연락처</a></dd>
								<dd><a href=''>프로그램안내 및 수강신청</a></dd>
								<dd><a href=''>사물함신청</a></dd>
								<dd><a href=''>대관신청</a></dd>
								<dd><a href=''>강사정보</a></dd>
							</dl>
							<dl>
								<dt><a href=''>면목2동체육관</a></dt>
								<dd><a href=''>시설안내</a></dd>
								<dd><a href=''>이용안내</a></dd>
								<dd><a href=''>위치 및 연락처</a></dd>
								<dd><a href=''>프로그램안내 및 수강신청</a></dd>
								<dd><a href=''>대관신청</a></dd>
								<dd><a href=''>강사정보</a></dd>
							</dl>
							<dl>
								<dt><a href=''>중랑구립잔디운동장</a></dt>
								<dd><a href=''>시설안내</a></dd>
								<dd><a href=''>이용안내</a></dd>
								<dd><a href=''>위치 및 연락처</a></dd>
								<dd><a href=''>대관현황</a></dd>
							</dl>
							<dl>
								<dt><a href=''>용마폭포공원축구장</a></dt>
								<dd><a href=''>시설안내</a></dd>
								<dd><a href=''>이용안내</a></dd>
								<dd><a href=''>위치 및 연락처</a></dd>
								<dd><a href=''>대관신청</a></dd>
							</dl>
							<dl>
								<dt><a href=''>신내차량기지운동장</a></dt>
								<dd><a href=''>시설안내</a></dd>
								<dd><a href=''>이용안내</a></dd>
								<dd><a href=''>위치 및 연락처</a></dd>
								<dd><a href=''>대관신청</a></dd>
							</dl>
							<dl>
								<dt><a href=''>신내다목적체육관</a></dt>
								<dd><a href=''>시설안내</a></dd>
								<dd><a href=''>이용안내</a></dd>
								<dd><a href=''>위치 및 연락처</a></dd>
								<dd><a href=''>프로그램안내 및 수강신청</a></dd>
								<dd><a href=''>강사정보</a></dd>
							</dl>
							<dl>
								<dt><a href=''>묵동다목적체육관</a></dt>
								<dd><a href=''>시설안내</a></dd>
								<dd><a href=''>이용안내</a></dd>
								<dd><a href=''>위치 및 연락처</a></dd>
								<dd><a href=''>프로그램안내 및 수강신청</a></dd>
								<dd><a href=''>강사정보</a></dd>
							</dl>
							<dl>
								<dt><a href=''>중랑구립테니스장</a></dt>
								<dd><a href=''>시설안내</a></dd>
								<dd><a href=''>이용안내</a></dd>
								<dd><a href=''>위치 및 연락처</a></dd>
								<dd><a href=''>프로그램안내 및 수강신청</a></dd>
								<dd><a href=''>대관신청</a></dd>
							</dl>
							<dl>
								<dt><a href=''>용마폭포테니스장</a></dt>
								<dd><a href=''>시설안내</a></dd>
								<dd><a href=''>이용안내</a></dd>
								<dd><a href=''>위치 및 연락처</a></dd>
								<dd><a href=''>프로그램안내 및 수강신청</a></dd>
								<dd><a href=''>대관신청</a></dd>
							</dl>
							<dl>
								<dt><a href=''>중랑워터파크</a></dt>
								<dd><a href=''>시설안내</a></dd>
								<dd><a href=''>이용안내</a></dd>
								<dd><a href=''>위치 및 연락처</a></dd>
							</dl>
						</li>
						<li>
							<div><a href=''>주차시설</a></div>
							<dl>
								<dt><a href=''>거주자우선주차</a></dt>
								<dd><a href=''>시설안내</a></dd>
								<dd><a href=''>신청 및 배정안내</a></dd>
								<dd><a href=''>사용요금 및 이용안내</a></dd>
								<dd><a href=''>단속 및 민원안내</a></dd>
								<dd><a href=''>위치 및 연락처</a></dd>
							</dl>
							<dl>
								<dt><a href=''>공영주차장</a></dt>
								<dd><a href=''>공영주차장안내</a></dd>
								<dd><a href=''>공영(노상)주차장 현황</a></dd>
								<dd><a href=''>공영(노외)주차장 현황</a></dd>
								<dd><a href=''>미납주차요금 처리절차</a></dd>
							</dl>
							<dl>
								<dt><a href=''>면목견인차량보관소</a></dt>
								<dd><a href=''>시설안내</a></dd>
								<dd><a href=''>견인료 및 보관료</a></dd>
								<dd><a href=''>위치 및 연락처</a></dd>
							</dl>
						</li>
						<li>
							<div><a href=''>도서관시설</a></div>
							<dl>
								<dt><a href=''>중랑구립정보도서관</a></dt>
								<dd><a href=''>시설안내</a></dd>
								<dd><a href=''>부대시설안내</a></dd>
								<dd><a href=''>이용안내</a></dd>
								<dd><a href=''>위치 및 연락처</a></dd>
							</dl>
							<dl>
								<dt><a href=''>중랑구립면목도서관</a></dt>
								<dd><a href=''>시설안내</a></dd>
								<dd><a href=''>부대시설안내</a></dd>
								<dd><a href=''>이용안내</a></dd>
								<dd><a href=''>위치 및 연락처</a></dd>
							</dl>
							<dl>
								<dt><a href=''>중랑숲어린이도서관</a></dt>
								<dd><a href=''>시설안내</a></dd>
								<dd><a href=''>이용안내</a></dd>
								<dd><a href=''>위치 및 연락처</a></dd>
							</dl>
							<dl>
								<dt><a href=''>중화어린이도서관</a></dt>
								<dd><a href=''>시설안내</a></dd>
								<dd><a href=''>부대시설안내</a></dd>
								<dd><a href=''>이용안내</a></dd>
								<dd><a href=''>위치 및 연락처</a></dd>
							</dl>
							<dl>
								<dt><a href=''>양원숲속도서관</a></dt>
								<dd><a href=''>시설안내</a></dd>
								<dd><a href=''>이용안내</a></dd>
								<dd><a href=''>위치 및 연락처</a></dd>
							</dl>
							<dl>
								<dt><a href=''>중랑상봉도서관</a></dt>
							</dl>
						</li>
						<li>
							<div><a href=''>시설운영</a></div>
							<dl>
								<dt><a href=''>중랑구민회관</a></dt>
								<dd><a href=''>시설안내</a></dd>
								<dd><a href=''>이용안내</a></dd>
								<dd><a href=''>위치 및 연락처</a></dd>
							</dl>
							<dl>
								<dt><a href=''>관상복합청사</a></dt>
								<dd><a href=''>소개</a></dd>
								<dd><a href=''>시설현황</a></dd>
								<dd><a href=''>임대현황</a></dd>
								<dd><a href=''>운영관리지침</a></dd>
								<dd><a href=''>위치 및 연락처</a></dd>
							</dl>
						</li>
						<li>
							<div><a href=''>정보마당</a></div>
							<dl>
								<dt><a href=''>공지사항</a></dt>
								<dd><a href=''>공지사항</a></dd>
							</dl>
							<dl>
								<dt><a href=''>공단홍보관</a></dt>
								<dd><a href=''>공단홍보관</a></dd>
							</dl>
							<dl>
								<dt><a href=''>채용정보</a></dt>
								<dd><a href=''>채용공고</a></dd>
								<dd><a href=''>입사지원</a></dd>
								<dd><a href=''>수시채용정보</a></dd>
							</dl>
							<dl>
								<dt><a href=''>열린경영</a></dt>
								<dd><a href=''>예산현황</a></dd>
								<dd><a href=''>사업계획</a></dd>
								<dd><a href=''>경영실적</a></dd>
								<dd><a href=''>재무상태표</a></dd>
								<dd><a href=''>감사결과</a></dd>
								<dd><a href=''>고객만족도 조사결과</a></dd>
								<dd><a href=''>업무추진비 내역</a></dd>
								<dd><a href=''>지방공기업 경영공시 시스템</a></dd>
							</dl>
							<dl>
								<dt><a href=''>정보공개</a></dt>
								<dd><a href=''>정보공개 안내</a></dd>
								<dd><a href=''>비공개 세부기준</a></dd>
							</dl>
							<dl>
								<dt><a href=''>사전정보공표</a></dt>
								<dd><a href=''>감사</a></dd>
								<dd><a href=''>윤리</a></dd>
								<dd><a href=''>기획</a></dd>
								<dd><a href=''>재정</a></dd>
								<dd><a href=''>법무</a></dd>
								<dd><a href=''>노무</a></dd>
								<dd><a href=''>인사</a></dd>
								<dd><a href=''>총무</a></dd>
								<dd><a href=''>회계</a></dd>
								<dd><a href=''>정보화</a></dd>
								<dd><a href=''>홍보</a></dd>
							</dl>
							<dl>
								<dt><a href=''>재난재해 안전사고</a></dt>
								<dd><a href=''>재난재해 안전사고</a></dd>
							</dl>
							<dl>
								<dt><a href=''>계약정보</a></dt>
								<dd><a href=''>전자가격협상</a></dd>
								<dd><a href=''>입찰정보</a></dd>
								<dd><a href=''>수의계약</a></dd>
								<dd><a href=''>발주계획</a></dd>
								<dd><a href=''>사전규격공개</a></dd>
							</dl>
						</li>
						<li>
							<div><a href=''>고객광장</a></div>
							<dl>
								<dt><a href=''>고객의 소리</a></dt>
								<dd><a href=''>고객의 소리 안내</a></dd>
								<dd><a href=''>고객민원</a></dd>
								<dd><a href=''>공단칭찬글</a></dd>
								<dd><a href=''>열린혁신 아이디어제안</a></dd>
								<dd><a href=''>주민참여예산 사업제안</a></dd>
								<dd><a href=''>고객 프로그램 제안</a></dd>
							</dl>
							<dl>
								<dt><a href=''>자주묻는 질문</a></dt>
								<dd><a href=''>자주묻는 질문</a></dd>
							</dl>
							<dl>
								<dt><a href=''>클린신고</a></dt>
								<dd><a href=''>신고서 작성</a></dd>
								<dd><a href=''>처리결과 확인</a></dd>
							</dl>
							<dl>
								<dt><a href=''>고객중심경영</a></dt>
								<dd><a href=''>고객서비스 헌장</a></dd>
								<dd><a href=''>입찰정보</a></dd>
							</dl>
						</li>
						<li>
							<div><a href=''>공단소개</a></div>
							<dl>
								<dt><a href=''>이사장 인사말</a></dt>
								<dd><a href=''>이사장 인사말</a></dd>
							</dl>
							<dl>
								<dt><a href=''>경영이념</a></dt>
								<dd><a href=''>경영이념</a></dd>
							</dl>
							<dl>
								<dt><a href=''>공단연혁</a></dt>
								<dd><a href=''>공단연혁</a></dd>
							</dl>
							<dl>
								<dt><a href=''>조직안내 및 연락처</a></dt>
								<dd><a href=''>조직안내 및 연락처</a></dd>
							</dl>
							<dl>
								<dt><a href=''>오시는길</a></dt>
								<dd><a href=''>오시는길</a></dd>
							</dl>
							<dl>
								<dt><a href=''>윤리경영</a></dt>
								<dd><a href=''>윤리경영</a></dd>
							</dl>
							<dl>
								<dt><a href=''>인권경영</a></dt>
								<dd><a href=''>인권경영 헌장</a></dd>
								<dd><a href=''>인권경영 자료실</a></dd>
								<dd><a href=''>인권침해행위 구제절차</a></dd>
							</dl>
							<dl>
								<dt><a href=''>친환경 경영</a></dt>
								<dd><a href=''>친환경 경영 마인드 확립</a></dd>
								<dd><a href=''>저탄소 생활 실천사항</a></dd>
								<dd><a href=''>친환경 경영 자료실</a></dd>
							</dl>
							<dl>
								<dt><a href=''>공단운영규정</a></dt>
								<dd><a href=''>공단운영규정</a></dd>
								<dd><a href=''>법령 및 조례</a></dd>
							</dl>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- } 반응형 > 모바일메뉴 -->

	<?php
	include './head.sub1.html';
	?>
</div>
<div class="sub_navi1 bg_09">
	<div class="bg1"></div>
	<div id="upTitle" class="tit1">마이페이지</div>
	<div class="bg2"></div>
	<div class="ly1">
		<div class="con_bx con_bx2">
			<ul class="navi1">
				<li class="dp1"><a href=""><img src="../images/sub/icon_shome_01.png" alt="홈으로"></a></li>
				<li class="dp1">
					<div class="mbx1">
						<a href="javascript:;">마이페이지</a>
						<!--<ul>
							<li><a href="">체육시설</a></li>
							<li><a href="">주차시설</a></li>
							<li><a href="">도서관시설</a></li>
							<li><a href="">시설운영</a></li>
							<li><a href="">정보마당</a></li>
							<li><a href="">고객광장</a></li>
							<li class="on"><a href="">공단소개</a></li>
						</ul>-->
					</div>
				</li>
				<!-- 메뉴깊이가3depth이상일때출력함 -->
				<li class="dp1">
					<div class="mbx1">
						<a href="javascript:;">회원 탈퇴</a>
						<!--<ul>
							<li><a href="">이사장 인사말</a></li>
							<li><a href="">경영이념</a></li>
							<li><a href="">공단연혁</a></li>
							<li><a href="">조직안내 및 연락처</a></li>
							<li><a href="">오시는길</a></li>
							<li><a href="">윤리경영</a></li>
							<li><a href="">인권경영</a></li>
							<li class="on"><a href="">친환경 경영</a></li>
							<li><a href="">공단운영규정</a></li>
						</ul>-->
					</div>
				</li>
				<!-- 메뉴깊이가4depth이상일때출력함 -->
				<!--<li class="dp1">
					<div class="mbx1">
						<a href="javascript:;">친환경 경영 마인드 확립</a>
						<ul>
							<li class="on"><a href="">친환경 경영 마인드 확립</a></li>
							<li><a href="">저탄소 생활 실천사항</a></li>
							<li><a href="">친환경 경영 자료실</a></li>
						</ul>
					</div>
				</li>-->
			</ul>
		</div>
	</div>
</div>
<a href='javascript:;' id='anchor_content' title='본문영역'></a>
<div class='fr_body'>

	<?php
	include './head.sub2.html';
	?>
	<div id="sub_navi2" class="sub_navi2">회원 탈퇴</div>


<div class="sub_cont1">
	<div class="con_bx">
	<!-- 서브본문영역1내부 { -->
<script type="text/javascript" src="/resource/js/page/login.js"></script>
<!-- 상단 끝-->

<!-- 컨텐츠 시작 : 마이페이지 > 회원탈퇴하기 -->
	<div id="sub_join" class=' '>

		<div class="join_input">

			<div class="ipt_info margin_b50">
				<p class="margin_b20">회원탈퇴를 원하실 경우, 본인확인을 위해 비밀번호를 한번 더 입력해 주세요.</h3>
				<div class="inputbox margin_b50">
					<form id="inputInfo">
						<table>
							<colgroup>
								<col width="30%"> <col width="70%">
							</colgroup>
							<tbody>
                                <tr>
									<th>아이디</th>
                                    <td class="ipt-btn">
                                        jungrang-jumin
                                    </td>
                                </tr>
                                <tr>
									<th>비밀번호 <span class="nece">*</span></th>
                                    <td>
                                        <input type="password" id=" " name=" " placeholder="비밀번호를 입력하세요.">
                                        
                                    </td>
                                </tr>
                                <tr>
									<th>비밀번호 확인<span class="nece">*</span></th>
									<td><input type="password" id=" " name=" " placeholder="비밀번호를 한번 더 입력하세요."></td>
                                </tr>
							</tbody>
						</table>
					</form>
				</div>

			</div>
			<div class="btnarea">
				<a href="#" id="confirm" class="green">회원 탈퇴</a> 
			</div>
		</div>
	</div>
</body>
